<!DOCTYPE html>
<html>
<head>
    <script src="Scripts/angular.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title></title>
    <script src="ContactsController.js"></script>
</head>
<body ng-app="mainApp">
    <div class="col-md-12" ng-controller="contactsController">
        <h1 class="text-center">Contacts List</h1>                
        <form name="myForm" ng-show="newContact" novalidate class="col-md-2">
            <p>
                First Name:<br>
                <input type="text" name="firstname" class="form-control" ng-model="contact.firstName" required>
                <span style="color:red" ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid">
                    <span ng-show="myForm.firstname.$error.required">First Name is required.</span>
                </span>
            </p>
            <p>
                Last Name:<br>
                <input type="text" name="lastname" class="form-control" ng-model="contact.lastName" required>
                <span style="color:red" ng-show="myForm.lastname.$dirty && myForm.lastname.$invalid">
                    <span ng-show="myForm.lastname.$error.required">Last Name is required.</span>
                </span>
            </p>
            <p>
                Phone:<br>
                <input type="number" name="phone" class="form-control" ng-model="contact.phone" required ng-minlength="10"
                       ng-maxlength="10">
                <span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
                    <span class="error" ng-show="myForm.phone.$error.required">Phone is Required!</span>
                    <span class="error" ng-show="myForm.phone.$error.minlength">Phone no not less that 10 char.</span>
                    <span class="error" ng-show="myForm.phone.$error.maxlength">Phone no not more than 11 char.</span>
                    <br><span class="error" ng-show="myForm.phone.$error.pattern">Please match pattern [+91-036-78658 || 91-036-78658]</span>
                </span>
            </p>
            <button type="submit" id="btnInsert" class="btn btn-primary"
                    ng-disabled="myForm.firstname.$invalid || myForm.lastname.$invalid || myForm.phone.$invalid"
                    ng-click="saveContact(myForm)">
                Save
            </button>
        </form>
        <div class="col-md-8">
            <button class="btn btn-primary pull-right" type="button" style="float:right; margin-bottom:5px" ng-disabled="newContact" ng-click="addContact()">Add Contact</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contactList">
                        <th scope="row">{{contact.id}}</th>
                        <td>{{contact.firstName}}</td>
                        <td>{{contact.lastName}}</td>
                        <td>{{contact.phone}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="updateContact($index)">Edit</button>
                            <button class="btn btn-primary" ng-click="deleteContact(contact)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>